<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.nestia.prokantor"
        version   = "1.0.0">

    <name>ProKantor Mobile /DEMO/</name>

    <description>
        Wersja demonstracyjna dedykowanej aplikacji ProKantor Mobile dla kantorów internetowych
    </description>

    <author href="http://ProKantor.pl" email="prokantor@prokantor.pl">
        ProKantor sp. z o.o.
    </author>

    <preference name="phonegap-version" value="3.0.0" />
	

    <gap:plugin name="org.apache.cordova.core.splashscreen" />

	
	<preference name="Orientation" value="portrait" />
	<preference name="Fullscreen" value="true" />
	<preference name="BackgroundColor" value="0x055D9B"/>
	<preference name="errorUrl" value="file:///android_asset/www/error.html" />

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />

    <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android"
        gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android"
        gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android"
        gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android"
        gap:density="xhdpi" />

    <icon src="res/icon/blackberry/icon-80.png" gap:platform="blackberry" />
    <icon src="res/icon/blackberry/icon-80.png" gap:platform="blackberry"
      gap:state="hover"/>

    <icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57"
        height="57" />
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72"
        height="72" />
    <icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios"  width="114"
        height="114" />
    <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144"
        height="144" />

    <icon src="res/icon/webos/icon-64.png" gap:platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png" gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"
        gap:role="background" />
		
		
    <!-- Define app splash screen for each platform. -->
    <gap:splash src="splash.png" width="200" height="132" />
    <gap:splash src="splash.png" gap:platform="android" width="200" height="132" />
    <gap:splash src="splash.png" gap:platform="ios" width="200" height="132" />
    <gap:splash src="splash.png" gap:platform="winphone" width="200" height="132"  />
</widget>
